.bg-header {
    background: url("../../images/header/background.jpg") no-repeat center / cover;
}

.header__top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.1504rem 0;
    padding-top: 0.1452rem;
}

.header__logo {
    margin-left: 0.0104rem;
}

.header__nav {
    margin-top: -0.0156rem;
    margin-left: -0.0417rem;
}

.header__nav a ,
.header__tel {
    font-size: 0.1042rem;
    line-height: 142%;
    color: #FFFFFF;
}

.header__nav a {
    text-decoration: none;
    margin-right: 0.0208rem;
} 

.header__nav a:hover {
    border-bottom: 1px solid #FFFFFF;
}

.header__nav a:last-child {
    margin-right: 0;
}

.header__tel {
    margin-top: -0.0158rem;
    margin-right: -0.0167rem;
}

.header__content {
    text-align: center;
    padding: 0.6198rem 0;
    padding-top: 0.6042rem;
}

.header__content-title,
.header__content-text {
    margin: 0 auto;
    margin-bottom: 0.2604rem;
    color: #FFFFFF;
}

.header__content-title {
    font-family: RobotoB sans-serif;
    font-size: 0.5rem;
    line-height: 109%;
    letter-spacing: 0.02em;
    margin-top: -0.0052rem;
}

.header__content-text,
.header__content-button {
    font-family: RobotoR sans-serif;
}

.header__content-text {
    font-size: 0.1042rem;
    line-height: 142%;
}

.header__content-button {
    font-size: 0.0885rem;
    line-height: 142%;
    letter-spacing: -0.01em;
    color: #1B1F2B;
    background: #FFFFFF;
    border-radius: 10px;
    border: 0;
    padding: 0.026rem 0.1042rem;
    cursor: pointer;
    transition: 
        color 200ms ease,
        background 200ms ease;
}

.header__content-button:hover {
    color: #FFFFFF;
    background: #EFA501;
}

.header__content-button:active {
    color: #1B1F2B;
    background: #F8E6BE;
}