* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: RobotoL sans-serif;
}

html {
    font-size: 10vw; /* 192px */
}

@media screen and (max-width: 1280px) {
    body {
        width: 6.6667rem;
        max-width: 6.6667rem;
        margin: 0 auto;  
    }
}

.container {
    width: 6.6667rem;
    max-width: 6.6667rem;
    margin: 0 auto;
}

body {
    background-color: #F9F7F4;
}

.container {
    padding: 0 0.2813rem;
}

h2 {
    font-family: RobotoB sans-serif;
}

h3 {
    font-family: RobotoR sans-serif;
}

.shoose-your-tour,
.travel-photos__grid-cols-4,
.travel-photos__grid-cols-5 {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    gap: 0.1563rem;
    justify-content: center;
}


