* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: RobotoL sans-serif;
}

body {
    background-color: #F9F7F4;
}

.container {
    width: 1280px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 54px;
}

h2 {
    font-family: RobotoB sans-serif;
}

h3 {
    font-family: RobotoR sans-serif;
}