.travel-history {
    text-align: center;
}

.travel-history__title {
    font-size: 59px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 138px;
    margin-bottom: 30px;
    line-height: 73px
}

.travel-history__cards {
    margin-top: 1px;
}

.h-card1 {
    background: 
        linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%),
        url("../../images/travelHistory/travel-history-1.jpg") no-repeat;
}

.h-card2 {
    background: 
        linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%),
        url("../../images/travelHistory/travel-history-2.jpg") no-repeat;
}

.h-card3 {
    background: 
        linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%),
        url("../../images/travelHistory/travel-history-3.jpg") no-repeat;
}

.travel-history__card {
    position: relative;
    width: 100%;
    height: 567px;
    text-align: left;
    padding: 60px;
    margin-bottom: 50px;
    border-radius: 50px;
    background-position: center;
    background-size: 100%;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-size 300ms ease;
}

.travel-history__card:hover {
    background-size: 150%;
}  

.travel-history__card:last-child {
    margin-bottom: 0;
}

.travel-history__card-title {
    font-family: RobotoM sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 37px;
}

.travel-history__card-text,
.travel-history__card-pros li {
    font-family: RobotoR sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}

.travel-history__card-text {
    max-width: 560px;
    margin-bottom: 28px;
}

.travel-history__card-pros li {
    position: relative;
    margin-left: 30px;
    list-style-type: none;
}

.travel-history__card-pros li::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #FFFFFF;
    border-radius: 50%;
    left: -17px;
    top: 12px;
}

.travel-history__card-footer {
    position: absolute;
    width: 1050px;
    bottom: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 107px;
    margin-bottom: -20px;
}

.travel-history__card-sn {
    margin-top: -12px;
    margin-right: 1px;
}

.travel-history__card-sn a {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 28.4px;
    margin-right: 33px;
}

.travel-history__card-sn a:active {
    color: #EFA501;
}

.travel-history__card-sn a:hover {
    text-decoration: underline;
}

.travel-history__card-sn a:last-child {
    margin-right: 0;
}